.about{
  padding-top: 70px;
}

section {
  margin: 25px;
  padding: 20px;
  border-radius: 40px;
  
  background: var(--bg-color);
  
  box-shadow:  var(--box-shadow-up),
                var(--box-shadow-down);
}

.divMembers {
  margin-top: 100px;
}

.memberCard {
  margin: 25px;
  padding: 20px;
  border-radius: 40px;
  
  background: var(--bg-color);
  
  box-shadow:  var(--box-shadow-up),
                var(--box-shadow-down);
}
