.friends {
  padding-top: 60px;
}

.sectionFriends{
  margin: 25px;
  padding: 20px;
  
  border-radius: var(--border-radius);
  
  background: var(--bg-color);
  
  box-shadow:  var(--box-shadow-up),
                var(--box-shadow-down);
}
