.gpx {
    padding-top: 210px;
}

.gpxCard {
  text-align: center;
  position: absolute;
  
  margin-left: 20%;
  width: 30%;
  margin-right: 35%;
  
  display: block;
}

.GpxZone {
  border-radius: var(--border-radius);

  background: var(--bg-color);
  
  box-shadow:  var(--box-shadow-up),
                var(--box-shadow-down);
  padding: 64px;
  padding-bottom: 34px;
  
  top: 45%;
  box-sizing: border-box;
  display:table-cell;
  vertical-align:middle;
}
