
.brandContainer:hover{
    background-color: rgb(79, 139, 216);
    border-left: solid 4px #ffffff;

}

.navbar { 
    min-height: 75px;  
  }
.navbar-right {
    height: 75px;
}
button.navbar-toggle:active{
    text-decoration: none;
}
span{
    color: #ffffff;
}
.navbar-inverse {
    margin-bottom: 0%;
    background-color: #0f8b8d;
    transition: background-color .5s;
    color: #ffffff;
}
