ul {
    
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    
  }
  
.sectionRoutes{
    margin: 25px;
    padding: 15px;
    border-radius: 25px;
    border-bottom : 12px solid #396474;
    border-right : 12px solid #396474;
    border-left : 12px solid #396474;
    border-style: outset;
    box-shadow:  3px 3px 5px #0f8b8d, 
             -3px -3px 5px #2aadaf;
}
  
.routeListElementContainter p {
    display: inline-block;
    text-align: center;
    padding: 10px;
  
}
.sectionRoutes p, .sectionRoutes span, .sectionRoutes a{
    color: black;
}
.sectionRoutes{
    background-color: #f8f8f8;
    
}

.App{
  padding-top: 120px;
}

.routeListElementContainter{
    border : 3px solid #396474;
    margin-bottom: 10px;
}

/*Search */
.active-purple-4{
    float: top;
    padding: 30px;
}
.active-purple-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}
.active-purple-3 input[type=text] {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}