.routes{
  padding-top: 60px;
}

.sectionRoutes p, .sectionRoutes span, .sectionRoutes a{
  color: var(--font-color);
}
  
.sectionRoutes {
  margin: 25px;
  padding: 25px;
  
  border-radius: var(--border-radius);
  
  background: var(--bg-color);
  
  box-shadow:  var(--box-shadow-up),
                var(--box-shadow-down);
}
