ul {
    
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    
  }
  
.sectionRoutes{
    margin: 25px;
    padding: 15px;
    border-radius: 25px;
    border-bottom : 12px solid #396474;
    border-right : 12px solid #396474;
    border-left : 12px solid #396474;
    border-style: outset;
    box-shadow:  3px 3px 5px #0f8b8d, 
             -3px -3px 5px #2aadaf;
}

.routeListElementContainter p {
    
 
    padding: 10px;
  
}


.sectionRoutes{
    background-color: #f8f8f8;
    
}

.liRoute{
  padding: 5px;
  border-radius: 50px;
}

.routes{
  padding-top: 120px;
}


