ul {
    
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    
  }
  
.sectionRoutes{
    margin: 25px;
    padding: 15px;
    border-radius: 25px;
    border-bottom : 12px solid #396474;
    border-right : 12px solid #396474;
    border-left : 12px solid #396474;
    border-style: outset;
    box-shadow:  3px 3px 5px #0f8b8d, 
             -3px -3px 5px #2aadaf;
}
  
.routeListElementContainter p {
    display: inline-block;
    text-align: center;
    padding: 10px;
  
}
.sectionRoutes p, .sectionRoutes span, .sectionRoutes a{
    color: black;
}
.sectionRoutes{
    background-color: #f8f8f8;
    
}

.routeListElementContainter{
    border : 3px solid #396474;
    margin-bottom: 10px;
}

/*Search */
.box{
    float: left;
}

.container-2{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-2 input#search{
    width: 50px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }

  .container-2 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-2 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-2 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

 .container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }

  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
  }
   
  .container-2:hover input#search{
  width: 300px;
  }
   
  .container-2:hover .icon{
    color: #93a2ad;
  }