
#myInput {
    background-image: url('/images/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
  
    margin-bottom: 12px;
    border : 3px solid #396474;
  }
  #myInput:active{
    border : 3px solid #396474;
  }
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }