div > .shareList {
  width: 90%;
  margin: 90px 25px;
  position: relative;
}
div > .shareList:hover {
  width: 90%;
  margin: 90px 25px;
  position: relative;
  background-color: #f4faf4;
}
div > .shareContent {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family);
  box-shadow: var(--box-shadow-up), var(--box-shadow-down);
  border-radius: var(--border-radius);
}

/*////////*/

#avataruser {
  width: 40px;
  height: 100%;
  border-radius: 150px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  z-index: 10;

  top: 0;
  right: 0;
  display: inline-block;
  background-color: white;
  margin: 35px 25px;
  font-size: 20px;
  padding: 10px 15px;
  border: 0;
  border-radius: 30px;
  background-color: var(--bg-color);
  text-decoration: none;

  line-height: 1;

  font-family: var(--font-family);
  font-weight: 700;

  color: var(--font-color);

  box-shadow: var(--box-shadow-up), var(--box-shadow-down);

  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: width 0.5s linear;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.linkUser {
  color: black;
  padding: 12px 16px;
  margin: 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

@keyframes openmenu {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  animation-name: openmenu;
  animation-duration: 0.5s;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
